
.container {
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 15px 7%;
    position: fixed;
    z-index: 3;
    transition: 0.3s ease-in;
}
.containers {
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    backdrop-filter: blur(8px);
    padding: 15px 7%;
    position: fixed;
    z-index: 3;
    transition: 0.3s ease-in;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;

}

li {
    margin-left: 2em;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

.bouton {
    color: white;
    background-color: rgb(0, 81, 255);
    border-radius: 5px;
    border: none;
    height: 35px;
    margin: 20px;
    width: 90px;
}

.header {
    background-image: linear-gradient(rgba(5, 5, 5, 0.021), rgb(19, 18, 18)), url('../../image/tr.jpeg');
    height: 50em;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    position: relative;
}



.ecriture {
    color: white;
    margin-left: 12em;
    font-weight: 300;
    font-size: 30px;
    font-weight: 500;
}

.titres {
    font-weight: 800;
    font-size: 50px;
    background: linear-gradient(to right, rgb(219, 219, 131), rgb(147, 231, 220), rgb(8, 68, 109));
    -webkit-background-clip: text;
    color: transparent;
}

.moyen {
    font-weight: 500;
    font-size: 40px;
}

.superpose {
    background-color: rgb(242, 240, 245);
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 25px 20px rgba(174, 175, 172, 0.1);
    margin-top: -40px;
    position: relative;
    z-index: 2;
    width: 50em;
    margin-left: 23em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    height: 4em;
    border-radius: 5px;
    border: none;
    width: 16em;
    margin: 0 6px;
}

.textb {
    height: 4em;
     border-radius: 5px;
     border: none;
     width: 16em;
     margin: 0 6px;
     background: rgb(0, 81, 255);
}